body{
  background-color: #D7E9F7 ;
}

hr {
      border: 0;
      border-radius: 20px;
      height: 5px;
      background-image: linear-gradient(to right, #f33939, #4f39f3);
      width: 10%;
      margin-left: auto;
      margin-right: auto;
}

h1 {
  color: Olive;
  text-decoration: underline;
  text-shadow: 2px 2px 5px White;
}
